# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual env
venv/
.env/

# Django stuff
db.sqlite3
/staticfiles/
media/

# NLTK downloads
nltk_data/

# IDE / OS files
.vscode/
.idea/
.DS_Store

